<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924847058452-hr5t2espgi6k5355qqrk5gihl6775rq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924847058452-hr5t2espgi6k5355qqrk5gihl6775rq7</string>
	<key>API_KEY</key>
	<string>AIzaSyACCtysBRLlSXm-OTgdZpnUEWDqHAyZygc</string>
	<key>GCM_SENDER_ID</key>
	<string>924847058452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.axelc.orato</string>
	<key>PROJECT_ID</key>
	<string>orato-912b7</string>
	<key>STORAGE_BUCKET</key>
	<string>orato-912b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924847058452:ios:b77f44445c31a4c0c14101</string>
	<key>DATABASE_URL</key>
	<string>https://orato-912b7.firebaseio.com</string>
</dict>
</plist>